<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
     <%-include('./partials/nav.ejs') %>
    <h1>About page</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur
      facilis odio minima beatae a voluptas exercitationem, tenetur id
      consequuntur. Nesciunt blanditiis soluta culpa explicabo, rerum, corrupti
      hic, ratione sapiente quasi beatae qui optio eaque eos odit totam
      veritatis quo ipsa a at placeat nemo maxime magni excepturi. Tenetur,
      obcaecati mollitia.
    </p>
  </body>
</html>
