<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home-page</title>
  </head>
  <body>
    <%-include('./partials/nav.ejs') %>
    <h1>Home-page</h1>
    <h2>welcome <%= user %></h2>
    <h3> i am a <%= role %></h3>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis sapiente
      illum possimus fugiat iusto laboriosam sit sed, id obcaecati et, tenetur
      nisi, velit quibusdam atque iure dicta dolorem! Sit odio recusandae
      deleniti facere. Enim quisquam modi laudantium totam, molestias dicta.
    </p>
  </body>
</html>
